ConquiánCliente/Connected Services/ServiceSignUp/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SignUp" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISignUp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISignUp_RegisterPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayer" />
  </wsdl:message>
  <wsdl:message name="ISignUp_RegisterPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ISignUp_RegisterPlayer_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" name="detail" element="q1:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="ISignUp_SendVerificationCode_InputMessage">
    <wsdl:part name="parameters" element="tns:SendVerificationCode" />
  </wsdl:message>
  <wsdl:message name="ISignUp_SendVerificationCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendVerificationCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISignUp_SendVerificationCode_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" name="detail" element="q2:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="ISignUp_VerifyCode_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyCode" />
  </wsdl:message>
  <wsdl:message name="ISignUp_VerifyCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISignUp_VerifyCode_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" name="detail" element="q3:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="ISignUp_CancelRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelRegistration" />
  </wsdl:message>
  <wsdl:message name="ISignUp_CancelRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="ISignUp_CancelRegistration_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" name="detail" element="q4:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:portType name="ISignUp">
    <wsdl:operation name="RegisterPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISignUp/RegisterPlayer" message="tns:ISignUp_RegisterPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISignUp/RegisterPlayerResponse" message="tns:ISignUp_RegisterPlayer_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISignUp/RegisterPlayerServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:ISignUp_RegisterPlayer_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendVerificationCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISignUp/SendVerificationCode" message="tns:ISignUp_SendVerificationCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISignUp/SendVerificationCodeResponse" message="tns:ISignUp_SendVerificationCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISignUp/SendVerificationCodeServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:ISignUp_SendVerificationCode_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISignUp/VerifyCode" message="tns:ISignUp_VerifyCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISignUp/VerifyCodeResponse" message="tns:ISignUp_VerifyCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISignUp/VerifyCodeServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:ISignUp_VerifyCode_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/ISignUp/CancelRegistration" message="tns:ISignUp_CancelRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISignUp/CancelRegistrationResponse" message="tns:ISignUp_CancelRegistration_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISignUp/CancelRegistrationServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:ISignUp_CancelRegistration_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISignUp" type="tns:ISignUp">
    <wsp:PolicyReference URI="#NetTcpBinding_ISignUp_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterPlayer">
      <soap12:operation soapAction="http://tempuri.org/ISignUp/RegisterPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendVerificationCode">
      <soap12:operation soapAction="http://tempuri.org/ISignUp/SendVerificationCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="VerifyCode">
      <soap12:operation soapAction="http://tempuri.org/ISignUp/VerifyCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelRegistration">
      <soap12:operation soapAction="http://tempuri.org/ISignUp/CancelRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SignUp">
    <wsdl:port name="NetTcpBinding_ISignUp" binding="tns:NetTcpBinding_ISignUp">
      <soap12:address location="net.tcp://localhost:9001/Conqui%C3%A1nServidor/SignUp/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9001/Conqui%C3%A1nServidor/SignUp/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>