ConquiánCliente/Connected Services/ServiceUserProfile/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="UserProfile" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUserProfile_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserProfile_GetPlayerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerById" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_GetPlayerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_GetPlayerById_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" name="detail" element="q1:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_UpdatePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayer" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_UpdatePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_UpdatePlayer_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" name="detail" element="q2:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_GetPlayerSocials_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerSocials" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_GetPlayerSocials_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerSocialsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_GetPlayerSocials_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" name="detail" element="q3:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_UpdatePlayerSocials_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerSocials" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_UpdatePlayerSocials_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerSocialsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_UpdatePlayerSocials_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" name="detail" element="q4:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_UpdateProfilePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfilePicture" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_UpdateProfilePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfilePictureResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_UpdateProfilePicture_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" name="detail" element="q5:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_GetPlayerGameHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerGameHistory" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_GetPlayerGameHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerGameHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfile_GetPlayerGameHistory_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" name="detail" element="q6:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:portType name="IUserProfile">
    <wsdl:operation name="GetPlayerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfile/GetPlayerById" message="tns:IUserProfile_GetPlayerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfile/GetPlayerByIdResponse" message="tns:IUserProfile_GetPlayerById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserProfile/GetPlayerByIdServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:IUserProfile_GetPlayerById_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfile/UpdatePlayer" message="tns:IUserProfile_UpdatePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfile/UpdatePlayerResponse" message="tns:IUserProfile_UpdatePlayer_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserProfile/UpdatePlayerServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:IUserProfile_UpdatePlayer_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerSocials">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfile/GetPlayerSocials" message="tns:IUserProfile_GetPlayerSocials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfile/GetPlayerSocialsResponse" message="tns:IUserProfile_GetPlayerSocials_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserProfile/GetPlayerSocialsServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:IUserProfile_GetPlayerSocials_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerSocials">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfile/UpdatePlayerSocials" message="tns:IUserProfile_UpdatePlayerSocials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfile/UpdatePlayerSocialsResponse" message="tns:IUserProfile_UpdatePlayerSocials_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserProfile/UpdatePlayerSocialsServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:IUserProfile_UpdatePlayerSocials_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfilePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfile/UpdateProfilePicture" message="tns:IUserProfile_UpdateProfilePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfile/UpdateProfilePictureResponse" message="tns:IUserProfile_UpdateProfilePicture_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserProfile/UpdateProfilePictureServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:IUserProfile_UpdateProfilePicture_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerGameHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfile/GetPlayerGameHistory" message="tns:IUserProfile_GetPlayerGameHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfile/GetPlayerGameHistoryResponse" message="tns:IUserProfile_GetPlayerGameHistory_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserProfile/GetPlayerGameHistoryServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:IUserProfile_GetPlayerGameHistory_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUserProfile" type="tns:IUserProfile">
    <wsp:PolicyReference URI="#NetTcpBinding_IUserProfile_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetPlayerById">
      <soap12:operation soapAction="http://tempuri.org/IUserProfile/GetPlayerById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <soap12:operation soapAction="http://tempuri.org/IUserProfile/UpdatePlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerSocials">
      <soap12:operation soapAction="http://tempuri.org/IUserProfile/GetPlayerSocials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerSocials">
      <soap12:operation soapAction="http://tempuri.org/IUserProfile/UpdatePlayerSocials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfilePicture">
      <soap12:operation soapAction="http://tempuri.org/IUserProfile/UpdateProfilePicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerGameHistory">
      <soap12:operation soapAction="http://tempuri.org/IUserProfile/GetPlayerGameHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserProfile">
    <wsdl:port name="NetTcpBinding_IUserProfile" binding="tns:NetTcpBinding_IUserProfile">
      <soap12:address location="net.tcp://localhost:9001/Conqui%C3%A1nServidor/UserProfile/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9001/Conqui%C3%A1nServidor/UserProfile/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>