ConquiánCliente/Connected Services/ServiceGame/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="JoinGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" minOccurs="0" name="JoinGameResult" nillable="true" type="q1:GameStateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayCards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerId" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cardIds" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayCardsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DrawFromDeck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DrawFromDeckResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscardCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerId" type="xs:int" />
        <xs:element minOccurs="0" name="cardId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscardCardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PassTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PassTurnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SwapDrawnCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerId" type="xs:int" />
        <xs:element minOccurs="0" name="cardIdToDiscard" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwapDrawnCardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportAFK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyGameUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" minOccurs="0" name="newState" nillable="true" type="q3:GameStateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyOpponentDrewDeck">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyOpponentDiscarded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" minOccurs="0" name="card" nillable="true" type="q4:CardDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTimeUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameRemainingSeconds" type="xs:int" />
        <xs:element minOccurs="0" name="turnRemainingSeconds" type="xs:int" />
        <xs:element minOccurs="0" name="currentTurnPlayerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnOpponentHandUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newCardCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyOpponentMeld">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" minOccurs="0" name="meldCards" nillable="true" type="q5:ArrayOfCardDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnOpponentLeft">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyGameEnded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.DataContracts" minOccurs="0" name="result" nillable="true" type="q6:GameResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyGameEndedByAFK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reasonKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>