ConquiánCliente/Connected Services/ServiceLobby/Conqui%C3%A1nServidor.Contracts.FaultContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.FaultContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Conqui%C3%A1nServidor.Contracts.FaultContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GuestInviteUsedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GuestInviteUsedFault" nillable="true" type="tns:GuestInviteUsedFault" />
  <xs:complexType name="RegisteredUserAsGuestFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisteredUserAsGuestFault" nillable="true" type="tns:RegisteredUserAsGuestFault" />
</xs:schema>