ConquiánCliente/Connected Services/ServicePresence/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Presence" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IPresence_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="90000">
          </wsrm:InactivityTimeout>
          <wsrm:AcknowledgementInterval Milliseconds="200">
          </wsrm:AcknowledgementInterval>
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPresence_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IPresence_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IPresence_OnFriendStatusChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnFriendStatusChanged" />
  </wsdl:message>
  <wsdl:message name="IPresence_OnFriendRequestReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnFriendRequestReceived" />
  </wsdl:message>
  <wsdl:message name="IPresence_OnFriendListUpdated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnFriendListUpdated" />
  </wsdl:message>
  <wsdl:portType name="IPresence">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IPresence/Subscribe" message="tns:IPresence_Subscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IPresence/Unsubscribe" message="tns:IPresence_Unsubscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnFriendStatusChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IPresence/OnFriendStatusChanged" message="tns:IPresence_OnFriendStatusChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnFriendRequestReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IPresence/OnFriendRequestReceived" message="tns:IPresence_OnFriendRequestReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnFriendListUpdated">
      <wsdl:output wsaw:Action="http://tempuri.org/IPresence/OnFriendListUpdated" message="tns:IPresence_OnFriendListUpdated_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IPresence" type="tns:IPresence">
    <wsp:PolicyReference URI="#CustomBinding_IPresence_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IPresence/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/IPresence/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="OnFriendStatusChanged">
      <soap12:operation soapAction="http://tempuri.org/IPresence/OnFriendStatusChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnFriendRequestReceived">
      <soap12:operation soapAction="http://tempuri.org/IPresence/OnFriendRequestReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnFriendListUpdated">
      <soap12:operation soapAction="http://tempuri.org/IPresence/OnFriendListUpdated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Presence">
    <wsdl:port name="CustomBinding_IPresence" binding="tns:CustomBinding_IPresence">
      <soap12:address location="net.tcp://localhost:9001/Conqui%C3%A1nServidor/Presence/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9001/Conqui%C3%A1nServidor/Presence/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>